@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
body {
  @apply bg-white;
}

@layer components {
  @import url("resume.css");

  .btn {
    @apply p-2 text-white bg-gray-900 rounded w-max;
  }
  .container-inner {
    @apply px-4 mx-auto md:px-0 md:max-w-screen-md;
  }
}
