.resume {
  font-family: Source Sans Pro, sans-serif;
  line-height: 1.5;
  color: #323232;
}
.resume img {
  max-width: 100%;
}
.resume .icon {
  fill: currentColor;
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
}
.resume a {
  color: #323232;
  text-decoration: none;
}
.resume a:hover {
  text-decoration: underline;
}
.resume .container {
  background: #f2f2f2;
  max-width: 960px;
  margin: 0px auto;
  padding: 32px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}
.resume section {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 20px;
  padding: 24px 0;
  border-bottom: 1px solid #d3d3d3;
}
.resume section:last-child {
  border-bottom: none;
}
.resume .section-title {
  font-weight: 700;
  font-size: 18px;
}
.resume img.avatar {
  width: 130px;
  border-radius: 9999px;
}
.resume .my-name {
  font-size: 48px;
  line-height: 1;
}
.resume .my-title {
  font-size: 24px;
  font-weight: 300;
  color: #236fb2;
}
.resume .links {
  display: flex;
  margin: 10px 0 20px;
}
.resume .link-item {
  display: flex;
  align-items: center;
  flex: 1;
}
.resume .link-item svg {
  margin-right: 6px;
}
.resume .job {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #d3d3d3;
}
.resume .job:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.resume .job-title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 18px;
}
.resume .job-company {
  font-weight: 700;
  line-height: 1.2;
  max-width: 360px;
}
.resume .skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 24px;
}
.resume .skills-container ul {
  margin-left: 20px;
  list-style-type: disc;
}
.resume .interests-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.resume .interests-container div {
  opacity: 0.75;
}
.resume .reference {
  font-size: 18px;
}
.resume .reference-details {
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .resume section {
    grid-template-columns: 1fr;
  }
  .resume .job-title-container,
  .resume .links {
    flex-direction: column;
  }
  .resume .skills-container {
    grid-template-columns: 1fr 1fr;
  }
  .resume .interests-container {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .resume .interests-container div {
    margin-right: 32px;
    margin-bottom: 16px;
  }
}
